@font-face{
    font-family: Bluu Next;
    src: url('./BluuNext-Bold.otf');
}


html{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    }

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
    
.topnavbar{
    padding: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 100vw;
    text-align: right;
    background-color: transparent;
    position: absolute;
    }    

.topnavbar:hover{
    background-color:  rgb(42,42,54);
}

.bottomnavbar{
    padding: 0px;
    top: 50px;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 100vw;
    text-align: center;
    background-color: transparent;
    position: absolute;
   }

.bottomnavbar:hover{
    background-color: rgb(21, 20, 36);
}


.topnavbar li{
    padding: 0px;
    margin: 40px;
    color: white;
    display: inline;
    font-family: serif;
    font-size: 14px;
    font-weight: bold;
}

.bottomnavbar li{
    padding: 0px;
    margin: 20px;
    color: white;
    display: inline;
    font-family: serif;
    font-size: 14px;
    font-weight: bold;
}


.readmore{
    border-style: hidden;
    border-radius: 50px;
    background-color: #6b63b5;
    color: white;
    height: 50px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    margin: auto auto auto auto;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.potterimage{    
    margin: 0px;
    padding: 10px;
    background-image: linear-gradient(to bottom, transparent, black 90%), url("./potter.jpg");
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.potter{
    text-align: center;
    margin-top: -700px;
    width: 100vw;
   }

   #pottertext1{
       color: white;
       text-align: center;
       font-family: "Bluu Next", serif;
       font-size: 60px;
       padding: 0px;
       line-height: 0.5;
       width: 100vw;
   }

   #pottertext2{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0px;
    line-height: 0.5;
    width: 100vw;
}


.background{
    padding: 10px;
    background-image: linear-gradient(to top, transparent, black), url("./stars.jpg");
    background-position: absolute;
    margin-top: -70px;
    height: 1500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}


.gridcontainer1{
    margin-top: 100px;
    text-align: center;
    display: inline-grid;
    height: 200px;
    width: 100vw;
    grid-column-gap: auto;
    grid-row-gap: 50px;
    justify-content: space-evenly;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 'gridline1 gridline2 gridline3';
}

.gridbox1{ 
}

.gridline1{
    grid-area: gridline1;
    display: inline-block;
    background-image: url("./train.jpg");
    height: 200px;
    width: 400px;
    }

.gridline1 h5{
    font-size: 14px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: 130px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}

.gridline1 h3{
    font-size: 28px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: -10px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}


.gridbox2{ 
}

.gridline2{
    grid-area: gridline2;
    display: inline-block;
    background-image: url("./makeup.jpg");
    height: 200px;
    width: 400px;
    }

.gridline2 h5{
    font-size: 14px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: 130px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}

.gridline2 h3{
    font-size: 28px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: -10px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}



.gridbox3{ 
}

.gridline3{
    grid-area: gridline3;
    display: inline-block;
    background-image: url("./molly.jpg");
    height: 200px;
    width: 400px;
    }

.gridline3 h5{
    font-size: 14px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: 130px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}

.gridline3 h3{
    font-size: 28px;
    color: white;
    font-family: "Bluu Next", serif;
    font-weight: bold;
    overflow: visible;
    margin-right: -30px;
    margin-top: -10px;
    text-align: justify;
    margin-left: 40px;
    text-align: left;
}

.inspiration{
    margin-top: 200px;
    height: 600px;
    width: 100vw;
    background-image: linear-gradient(to left, transparent, black), url("./fanclub.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    position: absolute;
}

.inspirationtext{
    text-align: left;
    color: white;
    text-align: right;
    margin-right: 850px;
}

.inspirationtext h1{
    font-size: 60px;
    line-height: 0.3;
}

.inspirationtext h5{
    font-size: 18px;
    font-family: "Bluu Next", serif;
}

.inspirationtext h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 0.5;
}

.footer{
    background-color: black;
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer li{
    list-style: none;
    display:  inline-block;
    align-items: center;
    justify-content: left;
}

@keyframes stars1{
    from{
        transform: translatex(0%);
    }
    to {
        transform: translatex(100%);
    }
}
